.mantine-InputWrapper-root.mantine-TextInput-root.mantine-1ejqehl {
    display: flex;
    justify-content: center;
}
.mantine-Input-wrapper.mantine-TextInput-wrapper.mantine-7c7vou{
    width: 50%;
}